.main{
    font-size: 40px;
    font-weight: 600;
}

.sub-main{
    font-size: 30px;
    text-align: center;
    width: 139vh;
    margin-left: 200px;
    font-weight: 500;
    color: rgb(106, 106, 106);
    font-style: italic;
}

.services {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    gap: 20px;
}

.service1, .service2, .service3, .service4 {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
}