.footer h2 {
    position: relative;
    text-align: center;
    font-size: 17px;
    color: #434343;
}

.footer h2::before,
.footer h2::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-left: 45vh;
    margin-right: 45vh;
    width: 200px; 
    border-top: 1px solid black; 
}

.footer h2::before {
    left: 0;
    transform: translate(0, -50%);
}

.footer h2::after {
    right: 0;
    transform: translate(0, -50%);
}

.footer h6{
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    font-weight: 600;
}