
.team{
    width: 193vh;
    height: 90vh;
    margin-top: 15px;
}



.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    font-size: 25px;
}

.about-text {
    flex: 1;
    padding-right: 15px;
}

.about-image {
    flex: 1;
    width: 30px;
    height: 30em;

}
